.address-input {
  margin-bottom: 20px ;
  &__row {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .address-input {
    &__row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    }
  }
}