.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__header {
    background: #5e5e5e;
    color: white;
    font-weight: 600;
    padding: 20px 30px;
    margin-bottom: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__body {
    padding: 0 30px 20px;
  }

}